extends layout/layout

block variables
  -var title = home_title
  -var namespace = home_namespace;
  -var name = home_name;

block content
  section.section.homepage.screen
    .homepage-scene(data-parallax='0.2' data-parallax-top)
      .homepage-scene__container
        .homepage-scene__bg.image.image_cover
          img(data-src="./img/homescreen/bg.png", alt="bg").lazyload
        .homepage-scene__light.image.image_cover
          img(data-src="./img/homescreen/bg-light.jpg", alt="bg").lazyload
        .homepage-scene__layers 
          .homepage-scene__layer.image.image_cover
            img(data-src="./img/homescreen/1.png", alt="bg").lazyload
          .homepage-scene__layer.image.image_cover
            img(data-src="./img/homescreen/2.png", alt="bg").lazyload
          .homepage-scene__layer.image.image_cover
            img(data-src="./img/homescreen/3.png", alt="bg").lazyload
          .homepage-scene__layer.image.image_cover
            img(data-src="./img/homescreen/4.png", alt="bg").lazyload
          .homepage-scene__layer.image.image_cover
            img(data-src="./img/homescreen/5.png", alt="bg").lazyload
          .homepage-scene__layer.image.image_cover
            img(data-src="./img/homescreen/6.png", alt="bg").lazyload
          .homepage-scene__layer.image.image_cover
            img(data-src="./img/homescreen/7.png", alt="bg").lazyload
          .homepage-scene__layer.image.image_cover
            img(data-src="./img/homescreen/8.png", alt="bg").lazyload
          .homepage-scene__layer.image.image_cover
            img(data-src="./img/homescreen/9.png", alt="bg").lazyload
          .homepage-scene__layer.image.image_cover
            img(data-src="./img/homescreen/10.png", alt="bg").lazyload

        .homepage-scene__triggers
          .homepage-scene__trigger 1
          .homepage-scene__trigger 2
          .homepage-scene__trigger 3
          .homepage-scene__trigger 4
          .homepage-scene__trigger 5
          .homepage-scene__trigger 6
          .homepage-scene__trigger 7
          .homepage-scene__trigger 8
          .homepage-scene__trigger 9
          .homepage-scene__trigger 10

    .homepage__container
      .homepage__top.stp.container 
        p.homepage__label Компания<br> Декса
        h1.homepage__title Производитель энергоэффективного электротехнического оборудования 
          span.d-none.d-sm-inline для предприятий ТЭК
      .homepage__bottom.container
        .row
          .homepage__request.col-xl-4
            .container
              p Анкерные кронштейны, монтажные и универсальные крюки производства EKF для крепления самонесущих изолированных
              a(href='#modal-form' data-modal='open').button.button_style-2 
                span Оставить заявку

          .offset-xl-1.col-xl-7
            .items-slider
              svg.icon.d-sm-none.items-slider__sliding-icon
                use(xlink:href='./img/icons/icons-sprite.svg#slide')
              .items-slider__container.container
                //arrows
                button(aria-label='prev slide').items-slider__arrow.items-slider__prev
                  svg.icon
                    use(xlink:href='./img/icons/icons-sprite.svg#arrow')
                button(aria-label='next slide').items-slider__arrow.items-slider__next 
                  svg.icon
                    use(xlink:href='./img/icons/icons-sprite.svg#arrow')
                //images
                .items-slider__images 
                  //image
                  a(href=vo).items-slider__image
                    .image
                      img(data-src="./img/homeslider/1.png", alt="img").lazyload
                    .image.items-slider__image-light
                      img(data-src="./img/homeslider/1_2.png", alt="img").lazyload
                  //image
                  a(href='#').items-slider__image
                    .image
                      img(data-src="./img/homeslider/2.png", alt="img").lazyload
                  //image
                  a(href='#').items-slider__image
                    .image
                      img(data-src="./img/homeslider/3.png", alt="img").lazyload
                  //image
                  a(href='#').items-slider__image
                    .image
                      img(data-src="./img/homeslider/4.png", alt="img").lazyload
                  
                //slider
                .splide.items-slider__element
                  .splide__track
                    .splide__list
                      //slide
                      .splide__slide.items-slider__slide 
                        h4.items-slider__slide-title Взрывозащищенное освещение
                        p Первые в России светильники с возобновляемым ресурсом работы
                      //slide
                      .splide__slide.items-slider__slide 
                        h4.items-slider__slide-title СУМО
                        p Уникальная Система Управления Мониторингом Осветительного оборудования
                      //slide
                      .splide__slide.items-slider__slide 
                        h4.items-slider__slide-title Электрообогрев
                        p Комплексные решения по промышленному электрообогреву
                      //slide
                      .splide__slide.items-slider__slide 
                        h4.items-slider__slide-title Щитовое оборудование
                        p Весь спектр промышленного электрощитового оборудования
                .items-slider__buttons
                  .d-none.d-lg-block
                    a(href=catalogue).button.button_style-1.items-slider__button 
                      span Посмотреть весь  каталог
                  .d-lg-none
                    a(href=catalogue).button.button_style-3.items-slider__button 
                      span Посмотреть весь  каталог


  //
  section.section.homepage-form.d-xl-none
    .container 
      .row
        p.homepage-form__text.order-md-2.col-md-8.col-lg Анкерные кронштейны, монтажные и универсальные крюки производства EKF для крепления самонесущих изолированных         
        .col-md-4.col-lg-auto
          a(href='#modal-form' data-modal='open').button.button_style-2 
            span Оставить заявку

        


  section.section.advantages
    .container.lights-content 
      .bg-light.bg-light_size-1.bg-light_color-1
      .bg-light.bg-light_size-2.bg-light_color-2(data-parallax='-0.2')

    .container.advantages__content
      .row.advantages__container
        .advantages-block.offset-sm-1.offset-lg-0.col-lg-5.col-sm-10
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#lightning')
          h4 Разработки
          p Разрабатываем электротехнические решения под конкретные проекты, делаем шеф-монтаж и сервисное обслуживание.

        .advantages-block.offset-sm-1.col-lg-5.col-sm-10
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#clock')
          h4 Сроки
          p Производим в максимально короткие сроки. Минимальный срок производства – от 2х- недель.
        .advantages-block.offset-sm-1.offset-lg-0.col-lg-5.col-sm-10
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#slider')
          h4 Умное освещение
          p Настраиваем сценарии умного освещения для технологических процессов индивидуально для каждого завода.
        .advantages-block.offset-sm-1.col-lg-5.col-sm-10 
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#experience')
          h4 Грандиозный опыт
          p Постоянно накапливаем новый опыт, работаем с EPC проектами, комплексным оснащением объектов строительтва ТЭК.

  section.section.m-catalogue 
    .container.lights-content 
      .bg-light.bg-light_size-1.bg-light_color-1

    .container 
      .row.m-catalogue__container
        //block
        .m-catalogue-item.col-6
          a(href="/").m-catalogue-item__container.js-3d
            .m-catalogue-item__back.js-3d__back
              h5.m-catalogue-item__title.m-catalogue-item__title_1 Общепромышленное<br> освещение
            .image.image_contain.m-catalogue-item__image.m-catalogue-item__image_1.js-3d__forward
              img(data-src="./img/catalogue/1.png", alt="image").lazyload
              img(data-src="./img/catalogue/1_2.png", alt="image").lazyload
        //block
        .m-catalogue-item.col-6
          a(href=vo).m-catalogue-item__container.js-3d
            .m-catalogue-item__back.js-3d__back
              h5.m-catalogue-item__title.m-catalogue-item__title_2 Взрывозащищённые<br> светильники
            .image.image_contain.m-catalogue-item__image.m-catalogue-item__image_2.js-3d__forward
              img(data-src="./img/catalogue/2.png", alt="image").lazyload
              img(data-src="./img/catalogue/2_2.png", alt="image").lazyload
        //block
        .m-catalogue-item.col-6
          a(href="/").m-catalogue-item__container.js-3d
            .m-catalogue-item__back.js-3d__back
              h5.m-catalogue-item__title.m-catalogue-item__title_3 Прожекторное<br> светильники
            .image.image_contain.m-catalogue-item__image.m-catalogue-item__image_3.js-3d__forward
              img(data-src="./img/catalogue/3.png", alt="image").lazyload
              img(data-src="./img/catalogue/3_2.png", alt="image").lazyload
        //block
        .m-catalogue-item.col-6
          a(href="/").m-catalogue-item__container.js-3d
            .m-catalogue-item__back.js-3d__back
              h5.m-catalogue-item__title.m-catalogue-item__title_4 Заградительные огни
            .image.image_contain.m-catalogue-item__image.m-catalogue-item__image_4.js-3d__forward
              img(data-src="./img/catalogue/4.png", alt="image").lazyload
              img(data-src="./img/catalogue/4_2.png", alt="image").lazyload
        //block
        .m-catalogue-item.col-sm-6.col-md-5
          a(href="/").m-catalogue-item__container.js-3d
            .m-catalogue-item__back.js-3d__back
              h5.m-catalogue-item__title.m-catalogue-item__title_5 Коммутационное<br> оборудование
            .image.image_contain.m-catalogue-item__image.m-catalogue-item__image_5.js-3d__forward
              img(data-src="./img/catalogue/5.png", alt="image").lazyload
        //block
        .m-catalogue-item.col-sm-6.col-md-7
          a(href="/").m-catalogue-item__container.js-3d
            .m-catalogue-item__back.js-3d__back
              h5.m-catalogue-item__title.m-catalogue-item__title_6 Системы управления<br> и мониторинга<br> освещения
            .image.image_contain.m-catalogue-item__image.m-catalogue-item__image_6.js-3d__forward
              img(data-src="./img/catalogue/6.png", alt="image").lazyload
        //block
        .m-catalogue-item.col-12
          a(href="/").m-catalogue-item__container.js-3d
            .m-catalogue-item__back.js-3d__back
              h5.m-catalogue-item__title.m-catalogue-item__title_7 Электрообогрев
            .image.image_contain.m-catalogue-item__image.m-catalogue-item__image_7.js-3d__forward
              img(data-src="./img/catalogue/7.png", alt="image").lazyload
        //block
        .m-catalogue-item.col-12
          a(href="/").m-catalogue-item__container.js-3d
            .m-catalogue-item__back.js-3d__back
              h5.m-catalogue-item__title.m-catalogue-item__title_8 Щитовое оборудование
            .image.image_contain.m-catalogue-item__image.m-catalogue-item__image_8.js-3d__forward
              img(data-src="./img/catalogue/8.png", alt="image").lazyload

  section.section.about-text
    .about-text__light.about-text__light_1
    .about-text__light.about-text__light_2
    .container.about-text__container 
      .row 
        .about-text__block.offset-xl-1.col-xl-4
          h2.h1.about-text__title 50 000
          p.about-text__text осветительных констуркций в среднем на одном предприятии
        .about-text__block.offset-xl-2.col-xl-4
          h2.h1.about-text__title 2-5 млрд
          p.about-text__text рублей в год расходуется наоснащение предприятия осветительными конструкциями идругим электротехническим оборудованием

  section.section.about-preview
    .container.lights-content 
      .bg-light.bg-light_size-3.bg-light_color-1(data-parallax='-0.15')

    .container 
      .section__head.row 
        .offset-xl-2.col-xl-7
          h3.section__head-title Компания DEXSA разработала взрывозащищенное осветительное оборудование с пожизненной гарантией и разборной конструкцией
        .offset-xl-1.col-xl-2
          p.section__head-txt Как минимизировать затраты в работе предприятия?
      .about-preview__container

        .about-preview-block
          .row
            span.about-preview-block__index.offset-xl-1.col-xl-1 01
            .about-preview-block__image.col-xl-2
              .image
                img(src="./img/light1/1.png", alt="image")
            .about-preview-block__text.about-preview-block__text_1.offset-xl-3.col-xl-3
              span
              p.h4 Замена элементов корпуса и комплекта уплотнителей
            
        .about-preview-block
          .row
            span.about-preview-block__index.offset-xl-1.col-xl-1 02
            .about-preview-block__image.col-xl-2
              .image
                img(src="./img/light1/2.png", alt="image")
            .about-preview-block__text.about-preview-block__text_2.offset-xl-3.col-xl-3
              span
              p.h4 Замена источника тока
              
        .about-preview-block
          .row
            span.about-preview-block__index.offset-xl-1.col-xl-1 03
            .about-preview-block__image.col-xl-2
              .image
                img(src="./img/light1/3.png", alt="image")
                img(src="./img/light1/4.png", alt="image").about-preview-block__light
            .about-preview-block__text.about-preview-block__text_3.offset-xl-3.col-xl-3
              span
              p.h4 Замена светодиодного модуля  

        .mouse-icon
              
  section.section.clients
    .container.lights-content 
      .bg-light.bg-light_size-1.bg-light_color-1
      .bg-light.bg-light_size-2.bg-light_color-2(data-parallax='-0.3')
      .bg-light.bg-light_size-1.bg-light_color-1

    .container 
      .section__head
        .row 
          .col-xl-2
            p.section__head-txt Наши клиенты
          .col-xl-8
            h3.section__head-title Наше электротехническое оборудование установленно у крупнейших промышленных компаний России
      .clients__container 
        .clients__text.row 
          span.offset-xl-7.col-xl-auto единиц<br> оборудования<br> установлено:

        //block
        mixin block(href, val)
          .clients-block.row
            .clients-block__image.offset-xl-2.col-xl-3
              .image.image_contain 
                img(src=href, alt="image").lazyload
            .clients-block__value.offset-xl-3.col-xl-2
              .clients-block__value-item.h3=val
        +block('./img/clients/1.png', '9 000')
        +block('./img/clients/2.png', '6 567')
        +block('./img/clients/3.png', '4 680')
        +block('./img/clients/4.png', '3 000')
        +block('./img/clients/5.png', '2 800')
        +block('./img/clients/6.png', '1 590')
        +block('./img/clients/7.png', '1 531')

  .section.decoration-light   
    .container.decoration-light__container 
      .decoration-light__image
        .image
          img(data-src="./img/light2/1.png", alt="image").lazyload
        .image
          img(data-src="./img/light2/2.png", alt="image").lazyload


  include blocks/contacts-blocks
  