extends layout/layout

block variables
  -var title = sitename+' - Продукция'

block content
  section.section.category-head.screen.animation-head
    .category-head__scene(data-parallax='0.2' data-parallax-top)
      .image.image_cover.image_mask-1.animation-head__image
        img(data-src="./img/ldlslld.jpg", alt="bg").lazyload
    .container.category-head__container
      .category-head__content.row.stp
        h1.category-head__title.col-lg-6.animation-head__item Продукция
        p.category-head__text.col-lg-6.animation-head__item Российская компания «Декса» занимается разработкой и внедрением инновационных светотехнических решений во взрывозащищенном исполнении, отвечающих всем потребностям заказчика нефтегазовой и нефтехимической отраслей.

  section.section.advantages
    .container.lights-content 
      .bg-light.bg-light_size-1.bg-light_color-1
      .bg-light.bg-light_size-2.bg-light_color-2(data-parallax='-0.2')

    .container.advantages__content
      .row.advantages__container
        .advantages-block.offset-sm-1.offset-lg-0.col-lg-5.col-sm-10
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#quality')
          h4 Контроль качества
          p Каждая комплектующая проходит контроль качества: 1 входной контроль, 2 проверка на работоспособность.

        .advantages-block.offset-sm-1.col-lg-5.col-sm-10
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#check')
          h4 Проверка изделий
          p Проверка светильника после сборки в режиме реальной работы (24 часовой тест на работоспособность).
        .advantages-block.offset-sm-1.offset-lg-0.col-lg-5.col-sm-10
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#engineer')
          h4 Инженерный подход
          p Двойной запас прочности позволяет избежать нагрузки на матрицу в течение всего срока эксплуатации).
        .advantages-block.offset-sm-1.col-lg-5.col-sm-10
          svg.icon
            use(xlink:href='./img/icons/icons-sprite.svg#benefit')
          h4 Экономическая выгода
          p Сокращается стоимость простоя производства и увеличивается экономическая выгода от владения светильником.

  section.section.catalogue-items-section
    .container.lights-content 
      .bg-light.bg-light_size-1.bg-light_color-1
      .bg-light.bg-light_size-1.bg-light_color-1

    section.small-section.catalogue-items-section__top-section
      .container 
        h3.small-section__title Освещение
        .grid
          .row   
            //block
            .catalogue-item.grid__item.col-6.col-md-7.col-lg-3
              a(href=obshhepromyshhlennoe_osveshhenie).catalogue-item__container
                .catalogue-item__image.catalogue-item__image_1
                  .image
                    img(data-src="./img/catalogue/1.png", alt="image").lazyload
                  .image
                    img(data-src="./img/catalogue/1_2.png", alt="image").lazyload
                .catalogue-item__back
                  h5.catalogue-item__title.catalogue-item__title_1 Обще&shy;промышленное     
            //block
            .catalogue-item.grid__item.col-6.col-md-5.col-lg-3
              a(href=vzryvozashhishhyonnoe_osveshhenie).catalogue-item__container  
                .image.catalogue-item__image.catalogue-item__image_2
                  .image
                    img(data-src="./img/catalogue/2.png", alt="image").lazyload
                  .image
                    img(data-src="./img/catalogue/2_2.png", alt="image").lazyload
                .catalogue-item__back
                  h5.catalogue-item__title.catalogue-item__title_2 Взрыво&shy;защищённое   
            //block
            .catalogue-item.grid__item.col-6.col-lg-3
              a(href=ulichnoe_osveshhenie).catalogue-item__container
                .catalogue-item__image.catalogue-item__image_3
                  .image
                    img(data-src="./img/catalogue/3.png", alt="image").lazyload
                  .image
                    img(data-src="./img/catalogue/3_2.png", alt="image").lazyload
                .catalogue-item__back
                  h5.catalogue-item__title.catalogue-item__title_3 Уличное
            //block
            .catalogue-item.grid__item.col-6.col-lg-3
              a(href=zagraditelnye_ogni).catalogue-item__container
                .catalogue-item__image.catalogue-item__image_4
                  .image
                    img(data-src="./img/catalogue/4.png", alt="image").lazyload
                  .image
                    img(data-src="./img/catalogue/4_2.png", alt="image").lazyload
                .catalogue-item__back
                  h5.catalogue-item__title.catalogue-item__title_4 Заградительные огни

    section.small-section.swiper.image-slider 
      .swiper-container
        .swiper-wrapper
          mixin slide(image, text)
            //slide
            .swiper-slide.image-slider__slide(data-touch-hover data-cursor-slide)
              .image.image_cover.image_mask-1
                img(data-src=image, alt="image").swiper-lazy
              .container
                .row
                  .h4.col-xl-5=text
          +slide('./img/ddsd.jpg', 'Передача данных от светильника к светильнику и автоматический контроль освещенности')
          +slide('./img/dddds.jpg', 'Доступ к каждому светильнику с планшета или телефона')
      .swiper-pagination.container
            
    section.small-section 
      .container 
        h3.small-section__title Коммутационное оборудование
        .catalogue-xl-item
          .catalogue-xl-item__container
            .catalogue-xl-item__image.catalogue-xl-item__image_1.image 
              img(data-src="./img/catalogue/ooo.png", alt="img").lazyload

            ul
              li Клееммные коробки из алюминиевого сплава из полиэстера
              li Взрывозвщищённые протяжные и распределительные коробки
              li Взрывозащищённые корпуса из алюминиевого сплава
              li Посты управления из алюминия, нержавеющей стали и полиэстера

            a(href=kommutaczionnoe_oborudovanie).button.button_style-4
              | Перейти к каталогу
              span.icon  
                svg
                  use(xlink:href='./img/icons/icons-sprite.svg#arrow')
            

    section.small-section 
      .container 
        h3.small-section__title Щитовое оборудование
        .catalogue-xl-item
          .catalogue-xl-item__container
            .catalogue-xl-item__image.catalogue-xl-item__image_2.image 
              img(data-src="./img/catalogue/8.png", alt="img").lazyload

            ul
              li Низковольтные комплектные устройства управления и распределения
              li Вводно-распределительные устройства
              li Низковольтные комплектные устройства

            a(href=shhitovoe_oborudovanie).button.button_style-4
              | Перейти к каталогу
              span.icon  
                svg
                  use(xlink:href='./img/icons/icons-sprite.svg#arrow')
            
    
    section.small-section 
      .container 
        h3.small-section__title Система электрообогрева
        .catalogue-xl-item
          .catalogue-xl-item__container
            .catalogue-xl-item__image.catalogue-xl-item__image_3.image 
              img(data-src="./img/catalogue/7.png", alt="img").lazyload
            .catalogue-xl-item__image.catalogue-xl-item__image_4.image 
              img(data-src="./img/catalogue/dsds.png", alt="img").lazyload
            .catalogue-xl-item__image.catalogue-xl-item__image_5.image 
              img(data-src="./img/catalogue/lfld.png", alt="img").lazyload
              
            ul
              li Греющие кабели
              li Аксессуары TubeTrace
              li Силовые трансформаторы

            a(href=elektroobogrev).button.button_style-4
              | Перейти к каталогу
              span.icon  
                svg
                  use(xlink:href='./img/icons/icons-sprite.svg#arrow')
            


  -var contacts_type = 2;
  include blocks/contacts-blocks