extends layout/layout
block variables
  -var title = sitename+' - Референс лист'

block content
  section.section.category-head.full-screen-slider.swiper
    .swiper-container
      .swiper-wrapper
        -let index = 0;
        mixin slide(title, text, image)
          //slide
          .swiper-slide.screen.category-head__slide(class=index==0?'animation-head':'')
            .category-head__scene(data-parallax='0.2' data-parallax-top)
              .image.image_cover.image_mask-1(class=index==0?'animation-head__image':'')
                img(data-src=image, alt="bg").swiper-lazy
            .container.category-head__container
              .category-head__content.row.stp
                h2.h1.category-head__title.col-lg-6(class=index==0?'animation-head__item':'')=title
                h6.category-head__text.col-lg-6(class=index==0?'animation-head__item':'')=text
          -index++

        +slide('Наше производство это:', 'Мы производим взрывозащищенные светодиодные светильники для всех классов взрывоопасных зон, различных конструктивных исполнений в зависимости от характера объекта.', './img/production/1.jpg')
        +slide('Инновации', 'Наши инновации решают сразу несколько актуальных проблем, стоящих перед заказчиком это вопрос энергоэффективности, надежности и долговечности.', './img/production/2.jpg')
        +slide('Решения', 'Мы можем предложить Вам решения, не имеющие аналогов на Российском рынке. Это существенно сократит Ваши расходы и время, а также значительно упростит Вашу работу.', './img/production/3.jpg')
        +slide('Гарантия', 'В течение 5 лет гарантийного срока любой светильник будет заменен, а новый - доставлен на Ваше производство совершенно бесплатно.', './img/production/4.jpg')
        +slide('Складская программа', 'Каждому светильник имеет уникальный номер описывающий его характеристики. При помощи базы данных для каждого светильника сформирована складская программ.', './img/production/5.jpg')
        
    .category-head__pagination.container 
      .swiper-pagination
    .swiper-button.swiper-button-prev.d-none.d-lg-flex(data-touch-hover)
      svg.icon
        use(xlink:href='./img/icons/icons-sprite.svg#arrow')
    .swiper-button.swiper-button-next.d-none.d-lg-flex(data-touch-hover)
      svg.icon
        use(xlink:href='./img/icons/icons-sprite.svg#arrow')
    

  include blocks/contacts-blocks   