extends layout/layout
block variables
  -var title = sitename+' - Наше производство'


block content
  section.section.ref-slider.swiper
    .swiper-container
      .swiper-wrapper
        -let index1 = 0;
        mixin slide(image) 
          //slide 
          .swiper-slide.screen.ref-slider__slide(data-touch-hover data-cursor-slide)
            .ref-slider__slide-scene(data-parallax='0.2' data-parallax-top)
              .image.image_cover(class=index1==0?'image_mask-1':'')
                img(data-src=image, alt="bg").swiper-lazy
          -index1++

        +slide('./img/referens/1.jpg')
        +slide('./img/referens/2.jpg')
        +slide('./img/referens/3.jpg')
        +slide('./img/referens/4.jpg')
        +slide('./img/referens/5.jpg')

    .ref-slider__pagination.container 
      .swiper-pagination


  section.section.ref-slider.swiper
    .swiper-container
      .swiper-wrapper
        -let index2 = 0;
        mixin slide(image) 
          //slide 
          .swiper-slide.screen.ref-slider__slide(data-touch-hover data-cursor-slide)
            .ref-slider__slide-scene(data-parallax='0.2')
              .image.image_cover(class=index2==0?'image_mask-1':'')
                img(data-src=image, alt="bg").swiper-lazy
          -index2++
        +slide('./img/referens/2.jpg')
        +slide('./img/referens/3.jpg')
        +slide('./img/referens/4.jpg')
        +slide('./img/referens/5.jpg')
        +slide('./img/referens/1.jpg')
    .ref-slider__pagination.container 
      .swiper-pagination

  section.section.ref-slider.swiper
    .swiper-container
      .swiper-wrapper
        -let index3 = 0;
        mixin slide(image) 
          //slide 
          .swiper-slide.screen.ref-slider__slide(data-touch-hover data-cursor-slide)
            .ref-slider__slide-scene(data-parallax='0.2')
              .image.image_cover(class=index3==0?'image_mask-1':'')
                img(data-src=image, alt="bg").swiper-lazy
          -index3++
        +slide('./img/referens/3.jpg')
        +slide('./img/referens/4.jpg')
        +slide('./img/referens/5.jpg')
        +slide('./img/referens/1.jpg')
        +slide('./img/referens/2.jpg')
    .ref-slider__pagination.container 
      .swiper-pagination

  section.section.ref-slider.swiper
    .swiper-container
      .swiper-wrapper
        -let index4 = 0;
        mixin slide(image) 
          //slide 
          .swiper-slide.screen.ref-slider__slide(data-touch-hover data-cursor-slide)
            .ref-slider__slide-scene(data-parallax='0.2')
              .image.image_cover(class=index4==0?'image_mask-1':'')
                img(data-src=image, alt="bg").swiper-lazy
          -index4++
        +slide('./img/referens/4.jpg')
        +slide('./img/referens/5.jpg')
        +slide('./img/referens/1.jpg')
        +slide('./img/referens/2.jpg')
        +slide('./img/referens/3.jpg')
    .ref-slider__pagination.container 
      .swiper-pagination

  section.section.ref-slider.swiper
    .swiper-container
      .swiper-wrapper
        -let index5 = 0;
        mixin slide(image) 
          //slide 
          .swiper-slide.screen.ref-slider__slide(data-touch-hover data-cursor-slide)
            .ref-slider__slide-scene(data-parallax='0.2')
              .image.image_cover(class=index5==0?'image_mask-1':'')
                img(data-src=image, alt="bg").swiper-lazy
          -index5++
        +slide('./img/referens/5.jpg')
        +slide('./img/referens/1.jpg')
        +slide('./img/referens/2.jpg')
        +slide('./img/referens/3.jpg')
        +slide('./img/referens/4.jpg')
    .ref-slider__pagination.container 
      .swiper-pagination










  include blocks/contacts-blocks