extends layout/layout
block variables
  -var title = sitename+' - Референс лист'


block content
  section.section.ref-slider.swiper.animation-head.full-screen-slider
    .swiper-container
      .swiper-wrapper
        -let index1 = 0;
        mixin slide(image) 
          //slide 
          .swiper-slide.screen.ref-slider__slide
            .ref-slider__slide-scene(data-parallax='0.2' data-parallax-top)
              .image.image_cover(class=index1==0?'image_mask-1':'').animation-head__image
                img(data-src=image, alt="bg").swiper-lazy
            if index1==0
              .container.ref-slider__slide-container
                .ref-slider__slide-content.row.stp 
                  .col-lg-3.col-sm-6.ref-slider__slide-block.ref-slider__slide-logo-block.animation-head__item
                    span.ref-slider__slide-label Заказчик
                    .image.image_contain.ref-slider__slide-logo
                      img(data-src="./img/clients/1.png", alt="logo").lazyload
                  .col-lg-5.col-sm-6.ref-slider__slide-block.animation-head__item
                    span.ref-slider__slide-label Объект
                    h4.ref-slider__slide-text.ref-slider__slide-title Строительство Комплекса ЭЛОУ-АВТ на территории действующего завода  АО «Газпромнефть-Омский НПЗ»
                  .col-lg-4.ref-slider__slide-block.animation-head__item
                    span.ref-slider__slide-label Выполненные работы:
                    p.ref-slider__slide-text Производство и комплексная поставка оборудования:взрывозащищённое освещение шкафы управления освещением, заградительные огни.
          -index1++

        +slide('./img/referens/1.jpg')
        +slide('./img/referens/2.jpg')
        +slide('./img/referens/3.jpg')
        +slide('./img/referens/4.jpg')
        +slide('./img/referens/5.jpg')

    .ref-slider__pagination.container 
      .swiper-pagination
    .swiper-button.swiper-button-prev.d-none.d-lg-flex(data-touch-hover)
      svg.icon
        use(xlink:href='./img/icons/icons-sprite.svg#arrow')
    .swiper-button.swiper-button-next.d-none.d-lg-flex(data-touch-hover)
      svg.icon
        use(xlink:href='./img/icons/icons-sprite.svg#arrow')

  mixin slider(logo, title, text)
    section.section.ref-slider.swiper.full-screen-slider
      .swiper-container
        .swiper-wrapper
          -let index2 = 0;
          mixin slide(image) 
            //slide 
            .swiper-slide.screen.ref-slider__slide
              .ref-slider__slide-scene(data-parallax='0.2')
                .image.image_cover(class=index2==0?'image_mask-1':'')
                  img(data-src=image, alt="bg").swiper-lazy
              if index2==0
                .container.ref-slider__slide-container
                  .ref-slider__slide-content.row.stp 
                    .col-lg-3.col-sm-6.ref-slider__slide-block.ref-slider__slide-logo-block
                      span.ref-slider__slide-label Заказчик
                      .image.image_contain.ref-slider__slide-logo
                        img(data-src=logo, alt="logo").lazyload
                    .col-lg-5.col-sm-6.ref-slider__slide-block
                      span.ref-slider__slide-label Объект
                      h4.ref-slider__slide-text.ref-slider__slide-title !{title}
                    .col-lg-4.ref-slider__slide-block
                      span.ref-slider__slide-label Выполненные работы:
                      p.ref-slider__slide-text !{text}
            -index2++
          +slide('./img/referens/1.jpg')
          +slide('./img/referens/2.jpg')
          +slide('./img/referens/3.jpg')
          +slide('./img/referens/4.jpg')
          +slide('./img/referens/5.jpg')
      .ref-slider__pagination.container 
        .swiper-pagination
      .swiper-button.swiper-button-prev.d-none.d-lg-flex(data-touch-hover)
        svg.icon
          use(xlink:href='./img/icons/icons-sprite.svg#arrow')
      .swiper-button.swiper-button-next.d-none.d-lg-flex(data-touch-hover)
        svg.icon
          use(xlink:href='./img/icons/icons-sprite.svg#arrow')

  

  +slider('./img/clients/1.png', 
    'Установка каталитического риформинга Л-35/11-600', 
    'Производство и комплексная поставка оборудования:взрывозащищённое освещение, коробки распределительные взрывозащищенные, посты управления взрывозащищенные.')
  
  +slider('./img/clients/1.png', 
    'Установка гидроочистки / депарафинизации ДТ для нужд АО «Газпромнефть-ОНПЗ»', 
    'Проектирование, комплексная поставка системы электрообогрева.</br> Производство и комплексная поставка оборудования: взрывозащищенное освещение, коробки распределительные взрывозащищенные, посты управления взрывозащищенные.')

  +slider('./img/clients/2.png', 
    '«Установка подготовки нефти» в составе стройки «Обустройство нефтяной части Яро-Яхинского нефтегазоконденсатного месторождения»', 
    'Мы производим взрывозащищенные светодиодные светильники для всех классов взрывоопасных зон, различных конструктивных исполнений.')
  
  +slider('./img/clients/2.png', 
    'Техническое перевооружение комплекса инженерно-технических средств (КИТСО) УКПГ-В, УКПГ-С Берегового НГКМ', 
    'Комплексная поставка взрывозащищенного осветительного оборудования.')

  +slider('./img/clients/2.png', 
    'Северо-Русское месторождение. Объекты подготовки', 
    'Комплексная поставка взрывозащищенного осветительного оборудования.')

  +slider('./img/clients/2.png', 
    'Объекты подготовки газа и конденсата на Харбейском месторождении', 
    'Комплексная поставка взрывозащищенного осветительного оборудования.')
  
  +slider('./img/clients/8.png', 
    '«Комплекс по производству и отгрузке сжиженного природного газа производительностью 21 тонна в час»', 
    'Комплексная поставка взрывозащищенного осветительного оборудования.</br> Разработка и внедрение системы управления освещением (СУМО) с комплексной поставкой периметрального освещения.')
  
  +slider('./img/clients/3.png', 
    'Предприятия ТЭК', 
    'Комплексная поставка взрывозащищенного осветительного оборудования.</br> Разработка специализированных решений по освещению блочно-модульных установок.')
  
  +slider('./img/clients/7.png', 
    'Предприятия ТЭК', 
    'Комплексная поставка взрывозащищенного осветительного оборудования.<br> Разработка специализированных решений по освещению блочно-модульных установок.')
    



  include blocks/contacts-blocks