extends layout/layout

block variables
  -var title = sitename+' - Взрывозащищенное освещение'

block content
  section.section.product-head.product-head_no-margin.product-head_type-1.screen.stp
    .container.lights-content 
      .bg-light.bg-light_size-1.bg-light_color-1
    .container.product-head__container
      .row.product-head__row
        h1.product-head__title.product-head__item.offset-lg-6.col-lg-6 Взрывозащищённое освещение
        .product-head__image.offset-3.offset-lg-0.col-9.col-lg-5
          .product-head__image-wrapper.product-head__image-wrapper_type-1
            .image.image_contain
              img(data-src="./img/vzryvozashhishhyonnoe_osveshhenie/Group 316.png", alt="image").lazyload
            .image.image_contain
              img(data-src="./img/vzryvozashhishhyonnoe_osveshhenie/Group 317.png", alt="image").lazyload
        .product-head__text.offset-lg-6.col-lg-6
          .row
            p.product-head__text.product-head__item.order-sm-2.order-lg-1.col-sm.col-md-8.col-lg-10 Первый в России взрывозащищённый светодиодный светильник с возобновляемым ресурсом работы!
            .order-sm-1.order-lg-2.col-sm-auto.col-md-4.col-lg-12
              a(href='#modal-form' data-modal='open').button.button_style-2.product-head__item 
                span Заказать
                
  section.section.product-destination
    .container
      .row.product-destination__head
        h6.product-destination__title.col-xl-8.offset-xl-2 Предназначены для наружного и внутреннего освещения взрывоопасных зон всех классов помещений предприятий, а также объектов, где присутствует взрывоопасный газ и (или) горючая пыль
      .row.js-fade-blocks.product-destination__row
        .product-destination__block.js-fade-blocks__block.col-sm-6.offset-md-1.offset-lg-0.col-md-5.col-lg-3
          svg.icon(viewBox="0 0 49 49")
            use(xlink:href='./img/icons/icons-sprite.svg#gasproduction')
          p Нефтегазовая отрасль
        .product-destination__block.js-fade-blocks__block.col-sm-6.col-md-5.col-lg-3
          svg.icon(viewBox="0 0 86 86")
            use(xlink:href='./img/icons/icons-sprite.svg#atom')
          p Нефтехимическая отрасль
        .product-destination__block.js-fade-blocks__block.col-sm-6.offset-md-1.offset-lg-0.col-md-5.col-lg-3
          svg.icon(viewBox="0 0 86 86")
            use(xlink:href='./img/icons/icons-sprite.svg#oilproduction')
          p Добыча , хранение и транспортировка нефти
        .product-destination__block.js-fade-blocks__block.col-sm-6.col-md-5.col-lg-3
          svg.icon(viewBox="0 0 84 84")
            use(xlink:href='./img/icons/icons-sprite.svg#spikelet')
          p Объекты пищевой промышленности

  section.section.product-item 
    .container.product-item__container
      //head
      .product-item__head.row 
        .product-item__head-title.col-md-6 
          h3.product-item__title-element Компакт 1Ex
        .product-item__head-text.col-md-6 
          p Легко разместить внутри блочно-модульных конструкций

      //images
      -var images = ['./img/vzryvozashhishhyonnoe_osveshhenie/1_1.png', './img/vzryvozashhishhyonnoe_osveshhenie/1_2.png', './img/vzryvozashhishhyonnoe_osveshhenie/1_3.png']
      .product-item__images 
        .row.justify-content-center
          .swiper.product-item__top-slider.col-7.col-lg-12
            .swiper-container
              .swiper-wrapper
                each val in images
                  //slide
                  a(href=val data-fslightbox='1' data-barba-prevent data-cursor='magnifier').swiper-slide.image.image_contain.product-item__top-slide 
                    img(data-src=val, alt="image").swiper-lazy
            .swiper-pagination

        .product-item__bottom-images
          each val in images
            //slide
            .product-item__bottom-image.image.image_contain
              img(data-src=val, alt="image").lazyload

      //content
      .product-item__content

        //если контент существует
        .product-item__text-description 
          p НОВАТОР 1Ex 10 Д(120) С + 1 КВ-НБ(М20) + 1ЗГ(М20) — светильник светодиодный взрывозащищенный Новатор 1ExdIICT6, мощность — 10 Вт, КСС — Д(120°), тип крепления — на скобу (выяснить необходимость наличия), в комплекте с одним кабельными вводами М20 под не бронированный кабель.
        //если контент существует
        .info-features.product-item__info-features
          ul.info-features__list
            li.info-features__item Модульная замена компонентов
            li.info-features__item Может комплектоваться блоком аварийного питания

        .row.product-item__buttons
          //если доп информация существует то эта кнопка существует
          .col-md-6.col-lg-12
            button.product-item__more-button 
              span Показать подробные характеристики ↓
              span Свернуть подробные характеристики ↑
          //если пдф информация существует то эта кнопка существует
          .col-md-6.col-lg-12
            a(href='./docs/Prom-inn_A4_v3.pdf#page=11' target='_blank' rel='noopener').button.button_style-2 
              span Техническая документация (PDF) 
              
      //else content  
      .product-item__more-content
        .row
          mixin item(text1, text2)
            li.info-list__item.row
              span.col-sm-6 
                span=text1
              span.col-sm-6=text2
          ul.info-list.product-item__info-list.col-lg-6
            +item('Класс взрывоопасной зоны', '1')
            +item('Вид взрывозащиты', 'Ex d')
            +item('Группа электрооборудования', 'IIC')
            +item('Температурный класс', 'T6')
            +item('Питание от сети', '90-305 В AC (по запросу 9-36 В DC)')
            +item('Цветовая температура', '3000 / 4000 / 5000 °К')
            +item('Индекс цветопередачи', '70 / 80 / 90 Ra')
            +item('Коэффициент мощности', 'COS ф ≥ 0,95')
            +item('Система управления', 'PLC (ЛК) / PLCD (ЛКД) / Wi-Fi (РК) / Смешанного типа (СК)')
            
          ul.info-list.product-item__info-list.col-lg-6
            +item('Класс защиты от поражения электрическим током', 'I')
            +item('Ударопрочность', 'IK08')
            +item('Группа механического исполнения', 'M1, M2')
            +item('Температура эксплуатации', '-60°C … +55°C')
            +item('Степень защиты от проникновения влаги и пыли', 'IP 66')
            +item('Масса в базовой комплектации', '2 кг')
            +item('Гарантия', '5 лет')
            +item('Габариты упаковки', '205х190х215 мм')


  section.section.product-item 
    .container.product-item__container
      //head
      .product-item__head.row 
        .product-item__head-title.col-md-6 
          h3.product-item__title-element Новатор 1Ex
        .product-item__head-text.col-md-6 
          p Первый в России взрывозащищённый светодиодный светильник с возобновляемым ресурсом работы!

      //images
      -var images = ['./img/vzryvozashhishhyonnoe_osveshhenie/2_1.png', './img/vzryvozashhishhyonnoe_osveshhenie/2_2.png', './img/vzryvozashhishhyonnoe_osveshhenie/2_3.png']
      .product-item__images 
        .row.justify-content-center
          .swiper.product-item__top-slider.col-7.col-lg-12
            .swiper-container
              .swiper-wrapper
                each val in images
                  //slide
                  a(href=val data-fslightbox='2' data-barba-prevent data-cursor='magnifier').swiper-slide.image.image_contain.product-item__top-slide 
                    img(data-src=val, alt="image").swiper-lazy
            .swiper-pagination

        .product-item__bottom-images
          each val in images
            //slide
            .product-item__bottom-image.image.image_contain
              img(data-src=val, alt="image").lazyload

      //content
      .product-item__content

        //если контент существует
        .product-item__text-description 
          p НОВАТОР 1Ex 10 Д(120) С + 1 КВ-НБ(М20) + 1ЗГ(М20) — светильник светодиодный взрывозащищенный Новатор 1ExdIICT6, мощность — 10 Вт, КСС — Д(120°), тип крепления — на скобу (выяснить необходимость наличия), в комплекте с одним кабельными вводами М20 под не бронированный кабель.
        //если контент существует
        .info-features.product-item__info-features
          ul.info-features__list
            li.info-features__item Модульная замена компонентов
            li.info-features__item Может комплектоваться блоком аварийного питания

        .row.product-item__buttons
          //если доп информация существует то эта кнопка существует
          .col-md-6.col-lg-12
            button.product-item__more-button 
              span Показать подробные характеристики ↓
              span Свернуть подробные характеристики ↑
          //если пдф информация существует то эта кнопка существует
          .col-md-6.col-lg-12
            a(href='./docs/Prom-inn_A4_v3.pdf#page=11' target='_blank' rel='noopener').button.button_style-2 
              span Техническая документация (PDF) 
              
      //else content  
      .product-item__more-content
        .row
          mixin item(text1, text2)
            li.info-list__item.row
              span.col-sm-6 
                span=text1
              span.col-sm-6=text2
          ul.info-list.product-item__info-list.col-lg-6
            +item('Класс взрывоопасной зоны', '1')
            +item('Вид взрывозащиты', 'Ex d')
            +item('Группа электрооборудования', 'IIC')
            +item('Температурный класс', 'T6')
            +item('Питание от сети', '90-305 В AC (по запросу 9-36 В DC)')
            +item('Цветовая температура', '3000 / 4000 / 5000 °К')
            +item('Индекс цветопередачи', '70 / 80/ 90 Ra')
            +item('Коэффициент мощности', 'COS ф ≥ 0,95')
            +item('Система управления', 'PLC (ЛК) / PLCD (ЛКД) / Wi-Fi (РК) / Смешанного типа (СК)')

            
          ul.info-list.product-item__info-list.col-lg-6
            +item('Класс защиты от поражения электрическим током', 'I')
            +item('Ударопрочность', 'IK07')
            +item('Группа механического исполнения', 'M1, M2')
            +item('Температура эксплуатации', '-60°C … +55°C')
            +item('Степень защиты от проникновения влаги и пыли', ' IP 66')
            +item('Масса в базовой комплектации', '6 кг')
            +item('Гарантия', '5 лет')
            +item('Габариты упаковки', '267х267х430 мм')

  section.section.product-item 
    .container.product-item__container
      //head
      .product-item__head.row 
        .product-item__head-title.col-md-6 
          h3.product-item__title-element EXTREME-C 1Ex
        .product-item__head-text.col-md-6 
          p Уникальные возможности конфигураций световых потоков, компактность и современный дизайн

      //images
      -var images = ['./img/vzryvozashhishhyonnoe_osveshhenie/3_1.png', './img/vzryvozashhishhyonnoe_osveshhenie/3_2.png', './img/vzryvozashhishhyonnoe_osveshhenie/3_3.png']
      .product-item__images 
        .row.justify-content-center
          .swiper.product-item__top-slider.col-7.col-lg-12
            .swiper-container
              .swiper-wrapper
                each val in images
                  //slide
                  a(href=val data-fslightbox='3' data-barba-prevent data-cursor='magnifier').swiper-slide.image.image_contain.product-item__top-slide 
                    img(data-src=val, alt="image").swiper-lazy
            .swiper-pagination

        .product-item__bottom-images
          each val in images
            //slide
            .product-item__bottom-image.image.image_contain
              img(data-src=val, alt="image").lazyload

      //content
      .product-item__content

        //если контент существует
        .product-item__text-description 
          p EXTREME-C1EX 20 Д(120) С +1 КВ-НБ(М20) + 1ЗГ(М20) — светильник светодиодный взрывозащищенный Extreme-C 1ExdIIBT6, мощность — 20 Вт, КСС — Д(120°), тип крепления — на поворотную скобу
        //если контент существует
        .info-features.product-item__info-features
          ul.info-features__list
            li.info-features__item Модульная замена компонентов
            li.info-features__item Может комплектоваться блоком аварийного питания

        .row.product-item__buttons
          //если доп информация существует то эта кнопка существует
          .col-md-6.col-lg-12
            button.product-item__more-button 
              span Показать подробные характеристики ↓
              span Свернуть подробные характеристики ↑
          //если пдф информация существует то эта кнопка существует
          .col-md-6.col-lg-12
            a(href='./docs/Prom-inn_A4_v3.pdf#page=11' target='_blank' rel='noopener').button.button_style-2 
              span Техническая документация (PDF) 
              
      //else content  
      .product-item__more-content
        .row
          mixin item(text1, text2)
            li.info-list__item.row
              span.col-sm-6 
                span=text1
              span.col-sm-6=text2
          ul.info-list.product-item__info-list.col-lg-6
            +item('Класс взрывоопасной зоны', '1')
            +item('Вид взрывозащиты', 'Ex d')
            +item('Группа электрооборудования', 'IIB')
            +item('Температурный класс', 'T4 / T6')
            +item('Питание от сети', '90-305 В AC (по запросу 9-36 В DC)')
            +item('Цветовая температура', '3000 / 4000 / 5000 °К')
            +item('Индекс цветопередачи', '70 / 80 / 90 Ra')
            +item('Коэффициент мощности', 'COS ф ≥ 0,95')
            +item('Система управления', 'PLC (ЛК) / PLCD (ЛКД) / Wi-Fi (РК) / Смешанного типа (СК)')

          ul.info-list.product-item__info-list.col-lg-6
            +item('Класс защиты от поражения электрическим током', 'I')
            +item('Ударопрочность', 'IK08')
            +item('Группа механического исполнения', 'M1, M2')
            +item('Температура эксплуатации', '-60°C … +55°C')
            +item('Степень защиты от проникновения влаги и пыли', 'IP 66')
            +item('Масса в базовой комплектации', '14.5 кг')
            +item('Гарантия', '5 лет')
            +item('Габариты упаковки', '270х270х430 мм')


  include blocks/contacts-blocks