header.header(data-scroll-lock-fill-gap)
  .header__bg
  .container 
    .header__container
      a(href=home).logo.header__logo
        img(src="./img/logos/logo.svg", alt="logo").logo__image
      nav.header-nav 
        ul.header-nav__list 
          li.header-nav__item   
            a(href=o_kompanii).header-nav__link 
              span О компании 
          li.header-nav__item   
            a(href=proizvodstvo).header-nav__link
              span Производство
          li.header-nav__item
            div(data-toggle-trigger).header-nav__link-toggle
              a(href=produkcziya).header-nav__link
                span Продукция
            
            .header-nav__toggle-content(data-toggle-content)
              ul.header-nav__toggle-content-list
                li 
                  span Освещение
                li 
                  ul.header-nav__toggle-content-list 
                    li 
                      a(href=obshhepromyshhlennoe_osveshhenie).header-nav__toggle-content-link 
                        svg.icon
                          use(xlink:href='./img/icons/icons-sprite.svg#obshhepromyshhlennoe_osveshhenie')
                        | Общепромыщленное
                    li 
                      a(href=vzryvozashhishhyonnoe_osveshhenie).header-nav__toggle-content-link
                        svg.icon
                          use(xlink:href='./img/icons/icons-sprite.svg#vzryvozashhishhyonnoe_osveshhenie')
                        | Взрывозащищённое
                    li 
                      a(href=ulichnoe_osveshhenie).header-nav__toggle-content-link
                        svg.icon
                          use(xlink:href='./img/icons/icons-sprite.svg#ulichnoe_osveshhenie')
                        | Уличное
                    li  
                      a(href=zagraditelnye_ogni).header-nav__toggle-content-link
                        svg.icon
                          use(xlink:href='./img/icons/icons-sprite.svg#zagraditelnye_ogni')
                        | Заградительные огни    
                li 
                  a(href=kommutaczionnoe_oborudovanie).header-nav__toggle-content-link Коммутационное оборудование
                li
                  a(href=sistemy_upravleniya_i_monitoringa_osveshheniya).header-nav__toggle-content-link Системы управления и мониторинга освещения
                li
                  a(href=elektroobogrev).header-nav__toggle-content-link Электрообогрев
                li
                  a(href=shhitovoe_oborudovanie).header-nav__toggle-content-link Щитовое оборудование

          li.header-nav__item   
            a(href=sertifikaty_i_akkreditaczii).header-nav__link
              span Сертификаты и отзывы
          li.header-nav__item   
            a(href=referens_list).header-nav__link
              span Референс лист
          li.header-nav__item   
            a(href=kontakty).header-nav__link 
              span Контакты
      button.nav-toggle
        span

  include ../blocks/nav