nav.nav
  .nav__bg
  .nav__container(data-scroll-lock-fill-gap)
    .nav__block
      ul.nav__list
        li.nav__item
          a(href=about data-name=about_name).nav__link.h3 О компании
        li.nav__item
          a(href=production data-name=production_name).nav__link.h3 Производство
        li.nav__item
          a(href=catalogue data-name=catalogue_name).nav__link.h3 Продукция
        li.nav__item
          a(href=certificates data-name=certificates_name).nav__link.h3 Сертификаты и аккредитации
        li.nav__item
          a(href=references data-name=references_name).nav__link.h3 Референс лист
        li.nav__item
          a(href=contacts data-name=contacts_name).nav__link.h3 Контакты
            
    