  section.section.product-item 
    .container.product-item__container
      //head
      .product-item__head.row 
        .product-item__head-title.col-md-6 
          h3.product-item__title-element текст
          span.product-item__label 1 EX E, 0 EX IA
        .product-item__head-text.col-md-6 
          p текст

      //images
      -var images = ['']
      .product-item__images 
        .row
          .swiper.product-item__top-slider.offset-lg-0.offset-2.col-8.col-lg-12
            .swiper-container
              .swiper-wrapper
                each val in images
                  //slide
                  a(href=val data-fslightbox='1' data-barba-prevent data-cursor='magnifier').swiper-slide.image.image_contain.product-item__top-slide 
                    img(data-src=val, alt="image").swiper-lazy
            .swiper-pagination

        .product-item__bottom-images
          each val in images
            //slide
            .product-item__bottom-image.image.image_contain
              img(data-src=val, alt="image").lazyload

      //content
      .product-item__content

        //если контент существует
        .product-item__text-description 
          p текст
        //если контент существует
        .info-features.product-item__info-features
          span.info-features__title Назначение
          ul.info-features__list
            li.info-features__item текст

        .row.product-item__buttons
          //если доп информация существует то эта кнопка существует
          .col-md-6.col-lg-12
            button.product-item__more-button 
              span Показать подробные характеристики ↓
              span Свернуть подробные характеристики ↑
          //если пдф информация существует то эта кнопка существует
          .col-md-6.col-lg-12
            a(href='./docs/Prom-inn_A4_v3.pdf#page=11' target='_blank' rel='noopener').button.button_style-2 
              span Техническая документация (PDF) 
              
      //else content  
      .product-item__more-content
        .row
          mixin item(text1, text2)
            li.info-list__item.row
              span.col-sm-6 
                span=text1
              span.col-sm-6=text2
          ul.info-list.product-item__info-list.col-lg-6
            +item('', '')
            +item('', '')
            +item('', '')
            +item('', '')
            
          ul.info-list.product-item__info-list.col-lg-6
            +item('', '')
            +item('', '')
            +item('', '')
            +item('', '')